doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script	src="https://code.jquery.com/jquery-3.3.1.min.js"	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="	crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        .col-sm-10

            h1 Nouveau tag

            form(method='POST' action='')

                div.form-group
                    label(for='name') Nom:
                    input#name.form-control(type='text', placeholder='Nom du tag' name='name' required='true')

                div.form-group
                    label(for='description') Description:
                    input#description.form-control(type='description', placeholder='Courte description (optionel)' name='description')

                div.form-group
                    label(for='image') Image URL:
                    input#image.form-control(type='text', placeholder='Image URL (optionel)' name='image')

                button.btn.btn-outline-primary(type='submit') Envoyer


        script.

            if (tag != undefined) {
                $("#name").val(tag.name)
                $("#description").val(tag.description)
                $("#image").val(tag.image)
            }
