doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script	src="https://code.jquery.com/jquery-3.3.1.min.js"	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="	crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        .col-sm-10

            h3 Nouvel Auteur

            form(method='POST' action='')

                div.form-group
                    label(for='first_name') Prénom:
                    input#first_name.form-control(type='text', placeholder='Prénom' name='first_name' required='true')

                div.form-group
                    label(for='last_name') Nom:
                    input#last_name.form-control(type='text', placeholder='Nom' name='last_name' required='true')

                div.form-group
                    label(for='image') Image URL:
                    input#image.form-control(type='text', placeholder='Image URL' name='image' required='true')

                div.form-group
                    label(for='date_of_birth') Date de naissance:
                    input#date_of_birth.form-control(type='date', placeholder='Date' name='date_of_birth' required='true')

                div.form-group
                    label(for='date_of_death') Date de décès:
                    input#date_of_death.form-control(type='date', placeholder='Date' name='date_of_death')

                button.btn.btn-primary(type='submit') Envoyer

    script.
        if (author!=undefined) {
            for (key in author) {
                var val = author[key];
                if (key.indexOf('date') > -1) {
                    val = val.split('T')[0];
                }
                $(`input[name=${key}]`).val(val)
            }
        }