extends layout

block content

    style.
        center {
            margin-top: 5vh;
        }

    h1 L'hamecon de la culture

    .lead 
        i Carc est lapat par lasa, ges seque lont empour iser, lesbe tes 

    center  
        if user
            h4 Bienvenue !{user.name} !
        img(src='http://diximus.fr/wp-content/uploads/2018/03/L%C3%A9cole-dAth%C3%A8nes-Raphael.jpg')