extends ../layout

block content
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>


  h1 Create article

  form.white-round-div(method='POST' action='')
    div.form-group
      label(for='article_url') URL de l'article:
      input#article_url.form-control(type='text' name='article_url' required='true' )
      button.btn.btn-outline-dark(type="button" onclick='return getMetaData()') Fill fields

    div.form-group
      label(for='site_name') Nom du site:
      input#site_name.form-control(type='text' placeholder='Nom du site' name='site_name' required='true')

    div.form-group
      label(for='type') Type de contenu:
      input#type.form-control(type='text' placeholder='Type de contenu' name='type' required='true' )

    div.form-group
      label(for='title') Titre:
      input#title.form-control(type='text' placeholder='Titre' name='title' required='true')

    div.form-group
      label(for='published_time') Date de publication:
      input#published_time.form-control(type='date' placeholder='Date de publication' name='published_time' required='true')

    div.form-group
      label(for='description') Description:
      textarea#description.sd-textarea.form-control(name='description' placeholder='Courte description' required='true' rows='3')

    div.form-group
      label(for='image') Image URL:
      input#image.form-control(type='text' name='image' placeholder='Image d\'illustration' required='true' )

    div.form-group
      label(for='content') Contenu de l'article:
      textarea(name='content')

    button.btn.btn-outline-primary(type='submit') Envoyer

    each error in errors
      .text-danger error

  script.
  
    $(document).ready(() => {
      $(document).ready(function() {
      $('textarea[name=content]').summernote({
        minHeight: 400,
        toolbar: [
          ['style', ['bold', 'italic', 'underline', 'clear']],
          ['fontsize', ['fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['insert', ['picture', 'link', 'video', 'codeview']]
        ]
      });
      });
    })
    
    function getMetaData() {
      const article_url = $("input[name=article_url]").val();
      console.log(article_url)
      fetch('meta', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        credentials: 'same-origin',
        body: JSON.stringify({url: article_url})  
      }).then(response => response.json())
        .then(results => fillFromMeta(results))
        .catch(err => console.log(err));
    }
    var m = {}
    function fillFromMeta(meta) {
      m = meta
      console.log(meta)
      meta['published_time'] = meta['published_time'] != undefined ? meta['published_time'].split('T')[0] : {};
      for (key in meta) {
        $(`[name=${key}]`).val(meta[key]);
      }
      if (meta['type'].indexOf('video') > -1) {
        insertVideo();
      }

      function insertVideo() {
        var video_url = $("input[name=article_url]").val();
        var embed_url = embedVideoUrl(video_url);
        var iframe =
          `<iframe src="${embed_url}"
           class="note-video-clip" width="640" height="360" frameborder="0">
           </iframe>`;
        $('textarea[name=content]').summernote('pasteHTML', iframe);
      }

      function embedVideoUrl(url) {
        let video_id = url.split('&')[0];
        if (url.indexOf('youtube') > -1) {
          video_id = video_id.split('watch?v=')[1];
          return 'https://www.youtube.com/embed/' + video_id
        } else if (url.indexOf('dailymotion') > -1) {
          let splitted_url = video_id.split('/')
          video_id = splitted_url[splitted_url.length - 1];
          return '//www.dailymotion.com/embed/video/' + video_id
        }
      }
    }
