extends ../layout

block content
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>

  h1 Nouvelle dépeche

  form.white-round-div(method='POST' action='')
    div.form-group
      label(for='title') Titre:
      input#title.form-control(type='text' name='title' required='true' )

    div.form-group
      label Tag:
      select.form-control.selectpicker#select-tag(multiple="multiple", data-live-search="true" data-size="5" name='tag' required='true' )
        for tag in tags
          option(value=tag._id)
            | #{tag.name}
      button#new-tag.btn.btn-outline-dark(type='button') Nouveau tag

    label(for='content') Contenu:
    textarea(name='content' required='true')

    button.btn.btn-outline-primary(type='submit') Envoyer

  script.

    var tags = !{JSON.stringify(tags)};
    $(document).ready(function() {
      $('textarea').summernote({
        minHeight: 400,
          toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['insert', ['picture', 'link', 'video', 'codeview']]
        ]
      });
    });

    var initial_tags = !{JSON.stringify(tags)};

    $("#new-tag").click(() => {
      var win = window.open('../tag/create', 'New tag', "height=400, width=600")
      win.onbeforeunload = function () {
        setTimeout(() => {}, 1000);
        fetch('/library/get-tags').then(response => response.json()).then(results => updateTags(results));
      }
    })
    function updateTags(tags) {
      console.log('All tags',tags)
      let tag_diff = tags.filter(tag => initial_tags.map(t=>t._id).indexOf(tag._id)==-1);
      if (!tag_diff.length) { return };
      let new_tag = tag_diff[0]; 
      console.log('New tag', new_tag)
      initial_tags.push(new_tag);
      $('#select-tag').append($('<option>', {value: new_tag._id, text: new_tag.name}));
      $('#select-tag').selectpicker('refresh');
    }