extends ../layout

block content
    script(src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Include Editor style. -->
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/css/froala_style.min.css' rel='stylesheet' type='text/css' />
     
    <!-- Include JS file. -->
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/plugins/video.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/plugins/image.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/plugins/link.min.js'></script>


    h1 Nouvelle dépeche

    form.white-round-div(method='POST' action='')
        div.form-group
            label(for='title') Titre:
            input#title.form-control(type='text' name='title' required='true' )

        div.form-group
            label Tag:
            select.form-control.selectpicker#select-tag(multiple="multiple", data-live-search="true" data-size="10" name='tag' required='true' )
                for tag in tags
                    option(value=tag._id)
                        | #{tag.name}
            button#new-tag.btn.btn-outline-dark(type='button') Nouveau tag

        label(for='content') Contenu:
        textarea(name='content' required='true')

        button.btn.btn-primary(type='submit') Envoyer

    script.

        $(function() { $('textarea[name=content]').froalaEditor({
            heightMin: 600,
            language: 'fr',
            imageUploadRemoteUrls: false, // keep image URL instead of uploading to server
            videoUpload: false
        }) });
        const hidden_btns = ['#strikeThrough-1', '#superscript-1', '#subscript-1', '#imageUpload-1'];
        $(document).ready(() => {
            hidden_btns.map(id => $(id).css('display', 'none'));
        })

        var inital_tags = !{JSON.stringify(tags)};

        $("#new-tag").click(() => {
            var win = window.open('../tag/create', 'New tag', "height=400, width=600")
            win.onbeforeunload = function () {
                fetch('/library/get-tags').then(response => response.json()).then(results => updateTags(results));
            }
        })
        function updateTags(tags) {
            console.log('All tags',tags)
            let tag_diff = tags.filter(tag => inital_tags.map(t=>t._id).indexOf(tag._id)==-1);
            if (!tag_diff.length) { return };
            let new_tag = tag_diff[0]; 
            console.log('New tag', new_tag)
            $('#select-tag').append($('<option>', {value: new_tag._id, text: new_tag.name}));
            $('#select-tag').selectpicker('refresh');
        }